.navbar-logo {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  color: #ddd;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

.nav-link:hover {
  color: white;
}

.search-input {
  background: #222;
  padding: 6px 12px;
  border-radius: 6px;
  color: white;
  width: 250px;
  border: none;
  outline: none;
}
